.gala-banner {
    background-image: url('../assets/red-cross-bg.jpg');
    color: white; /* Replace with chosen dark text color */
    padding: 5%;
    display: flex;
    background-color: red;
    background-image: linear-gradient(to right, white , red);
  }


  .gala-image {
    width: 30vw; /* Adjust width as needed */
    border-radius: 5px;
    margin: 0 20px 20px 0;
  }
  
  .gala-content {
    padding: 20px;
    border-radius: 5px;
  }
  
.gala-promotion-benefit-container{
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

.sign-up-button {
    width: 10vw;
    padding-top: 10vh;
    padding-bottom: 15vh;
    right: 50vw;
    position: absolute;
    color: red;
    border: red solid 1px;
}

.info-carousel-title{
  color: black;
  margin-left: 10%;
}