.gala-banner {
    background-image: url('../assets/red-cross-bg.jpg');
    color: #333333; /* Replace with chosen dark text color */
    padding: 20px;
    display: flex;
  }
  
  .gala-image {
    width: 30vw; /* Adjust width as needed */
    border-radius: 5px;
    margin: 0 20px 20px 0;
  }
  
  .gala-content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Add a slight white background for readability */
    border-radius: 5px;
  }
  
.gala-promotion-benefit-container{
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

.sign-up-button {
    padding-top: 10vh;
    padding-bottom: 15vh;
    right: 50vw;
    position: absolute;
    color: red;
}